/* body{
    background-color: rgb(6, 125, 4);
}  */

.blackJackButtons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    
}

.gameHeader {
    height: 10%;
    margin: 0;
}

.bjBtns{
    padding: 3%;
    background-color: crimson;
    color: white;
}

.bjBtns:hover{
    background-color: gold;
}


.gameTableDiv{
   height: 100%;
   width: 100%;
   display: block;
   object-fit: contain;
   overflow: scroll;
}

 .playerDiv{
    /* display: inline-flex; */
    /* flex-wrap: nowrap; */
    display: inline;
    width: 50%;
    height: 40%

} 
   
.dealerDiv{
    /* display: inline-flex;
    flex-wrap: nowrap;
    flex-wrap: wrap; */
    display: inline;
    width: 50%;
    height: 40%;

}  

.resultDiv{
    text-align: center;
    width: 100%;
    height: 10%;
}

