.navBar{
    text-align: center;
    background-color: green;
    border: thick solid gold;
    border-radius: 10px;
    margin-top:0;
    position: absolute;
    left: 10%;
    right: 10%;
  
}

.navBar ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding:0;
}

.navBar li{
    color: white;
    padding:2%;
}

.navBar li:hover{
    background-color: crimson;
}

